@model MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        function onchangeevent(value) {            
            if (value == null || value.trim() === '') {
                console.log('disable');
                document.getElementById("submitSearch").disabled = true;                
            } else {
                console.log('enable');
                document.getElementById("submitSearch").disabled = false;
            }
        }
    </script>
}

    @using (Html.BeginForm())  
    {                 
        @Html.TextBoxFor(a => a.SearchViewModel.SearchTerm, new { 
            @class = "form-control", 
            @onkeyup = "onchangeevent(this.value);" 
        })                  
       
        <div class="m-2 col text-center">
            <input type="submit" id="submitSearch" value="Search" disabled class="btn btn-primary btn-lg" />  

        </div>
    }

@if (Model.SearchViewModel.Resources == null)
{
    <div class="text-center">
        <p class="header-main">Recent</p>
        <table class="table table-striped">
            @foreach (var recent in Model.Recent.OrderBy(a => a.Rank))
            {
                <tr onclick="window.open('@recent.Uri', '_blank');">
                    <td>
                        <div>
                            @recent.Name
                        </div>
                    </td>
                    <td>
                        <div>
                            @recent.Description
                        </div>
                    </td>
                    <td>
                        <div>
                            @recent.Uri
                        </div>
                    </td>
                    <td>
                        <div>
                            @recent.DateAdded.Date.ToString("dd-MMM-yy")
                        </div>
                    </td>

                </tr>
            }
        </table>
    </div>
}
else
{

    <div class="text-center">
        <p class="header-main">Results</p>
        <table class="table table-striped">
            @foreach (var searchResult in Model
                                .SearchViewModel.Resources.OrderBy(a => a.Rank))
            {
                <tr onclick="window.open('@searchResult.Uri', '_blank');">
                    <td>
                        <div>
                            @searchResult.Name
                        </div>
                    </td>
                    <td>
                        <div>
                            @searchResult.Description
                        </div>
                    </td>
                    <td>
                        <div>
                            @searchResult.Uri
                        </div>
                    </td>

                </tr>
            }
        </table>    
    </div>
}
