@model SubmitNewViewModel

<h1>Submit a new site</h1>

<h2>@Model.Error</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(a => a.NewResource.Uri)
    @Html.TextBoxFor(a => a.NewResource.Uri, new { @class = "form-control" })

    <div class="m-2 col text-center">
        <input type="submit" value="Lookup" class="btn btn-secondary btn-lg"
            asp-controller="Home" asp-action="Lookup"/>  
    </div>

    @Html.LabelFor(a => a.NewResource.Name)
    <p>@Model.NewResource?.Name</p>
    @Html.TextBoxFor(a => a.NewResource.Name, new { @class = "form-control" })

    @Html.LabelFor(a => a.NewResource.Description)
    @Html.TextBoxFor(a => a.NewResource.Description, new { @class = "form-control" })

    @Html.LabelFor(a => a.NewResource.Tags);
    @Html.DropDownListFor(a => a.NewResource.Tags, 
        new SelectList(Model.AllTags),
        new { @class = "form-control" });

    <div class="m-2 col text-center">
        <input type="submit" value="Submit New" class="btn btn-primary btn-lg"
            asp-controller="Home" asp-action="SubmitNew"/>  
    </div>

}
